---
layout: default
title: ''
pageclass: frontpage
root: ./
---

<div class="jumbotron visible-md visible-lg visible-sm" style="overflow: auto;">
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-5 jumbotext" align="center">
         <img src="images/natlang.logo.png" width="60%" />
         <p>Natural Language Laboratory</p>
         <p style="font-size: 20px"><a href="http://www.cs.sfu.ca">School of Computing Science</a></br>
          <a href="http://www.sfu.ca">Simon Fraser University </a></br>
        </div>
        <div class="col-md-7 jumbotext">
          <div class="car" style="border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;
          border: 5px solid #FFFFFF;"> 

          <img src="images/lab_members.jpg" width="100%" />
          <!-- 2b3994 -->
          <!-- <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel"> -->
       <!--  <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>  -->  
<!--         <div class="carousel-inner">

            <div class="active item">
                <img src="images/openhouse-2012-banner.png" />
                <div class="carousel-caption">
                  <p><a href="posts/2012-05-28-openhouse-2012" >SFU's 2012 open house</a></p>
                </div>
            </div>
            <div class="item">
                <img src="images/whitney-sarkar-yarowskyalgo-2012.png" />
                <div class="carousel-caption">
                   <p><a href="software/yarowsky.html" >Yarowsky algorithm</a></p>
                </div>
            </div>
            <div class="item">
                <img src="images/lensingscreen.png" />
                <div class="carousel-caption">
                  <p><a href="http://lensingwikipedia.cs.sfu.ca/" >Lensing Wikipedia</a></p>
                </div>
            </div>
          </div> -->
          <!-- Carousel nav -->
<!--         <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 jumbotext">
        <b>W</b>elcome to natural language processing lab , our research ...
      </div>
    </div>


  </div>
</div>
</div> <!-- jumbotron -->

<div class="container">

  <div class="row" >

    <div class="col-md-6" >
      <h1>News</h1>
      <div class="more">
        <ul class="navigate">
          {% assign lastyear = nil %}
          {% for post in site.posts limit:5 %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% if year != lastyear %}
          <li><a href="{{ site.baseurl }}/posts/index.html#year{{ year }}">{{ year }}</a></li>
          {% assign lastyear = year %}
          {% endif %}
          {% endfor %}
          <li><a href="{{ site.baseurl }}/posts/index.html">All</a></li>
        </ul>
      </div><div class="panel panel-info" style="padding:  0.5em;" width:"200px">
      {% for post in site.posts limit:5 %}
      <h3><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a><br/> <small class="date">{{ post.date | date_to_string }}</small></h3>
      {{ post.content }}
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6 visible-sm visible-lg">
   <h1>Recent Publications</h1>
    <div class="more">
      <ul class="navigate">
        <li><a href="{{ site.baseurl }}/publications/index.html">See more</a></li>
      </ul>
    </div>


    <textarea id="bibtex_input" style="display:none;"> 
    </textarea>


    <div class="bibtex_template"  style="display:none; padding:  0.8em;" >

      <li style="padding:  0.2em;">
        <span>
          <span class="if title" style="font-weight: bold;">
            <span class="title"></span>     
            <br>
          </span>
          <span class="author"></span>.<br>
          <span class="if booktitle" style="font-style: italic;">
            <span class="booktitle"></span>,
            <span class="if address" style="font-style: normal;">
              <span class="address"></span>
            </span>     
          </span>
          <span class="if journal" style="font-style: italic;">
            <span class="journal"></span>
          </span>
          <span style="if publisher">
            <span class="publisher"></span>
          </span>
          <span style="if school">
            <span class="school"></span>
          </span>
          <span class="if volume">
            <span class="volume"></span>
            <span class="if number">
              (<span class="number"></span>)
            </span>
            <span class="if pages">
              :<span class="pages"></span>
            </span>
          </span>
          <span class="if edition">
            <span class="edition"></span> ed.,
          </span>
          <span class="year"></span>
        </span>
        <br />
<!--   <span class="label label-primary "></span>
-->  
          <span class="if url">
            <button type="button" class="btn btn-sm btn-info" aria-label="Left Align">
              <a class="url" style="color: #FFFFFF;"> URL </a>
            </button>
          </span>
          <span class="if pdf">
            <button type="button" class="btn btn-sm btn-info" aria-label="Left Align">
              <a class="pdf" style="color: #FFFFFF;"> PDF </a>
            </button>
          </span>

          <span class="if bibtex">
           <button type="button" class="btn bibtex_but btn-sm btn-success" data-toggle="collapse" data-target="#demo">
            bibtex
          </button>
          </span>

          <span class="if abstract">
            <button type="button" class="btn abstract_but btn-sm btn-info" data-toggle="collapse" data-target="#demo">abstract</button>
          </span>
          <br>

        <span>
  <div class="abstractdata alert alert-info collapse closed" role="alert"><b>Abstract : </b><span class="abstract"></span></div>
  <div class="bibtexdata alert alert-success collapse closed" role="alert"><b>Bibtex : </b><span class="bibtex"></span></div>
  </span>

<br>

</div>

<!-- <ol reversed>
-->  <div class="panel panel-info">
<!--   <div class="panel-heading">
    <h3 class="panel-title">

<button class="btn allyears btn-primary" type="button" value='all'>
  All
</button> 

    </h3>
  </div> -->
  <!--  <div class="panel-body" > -->

  <div id="bibtex_display"></div>
</div>

</div>

  </div><!--/span-->
</div>



<!-- </div> -->

</div>

