---
layout: People
pageclass: frontpage
root: ../
---
<div class="row" id="faculty" style="padding-top: 25px;margin-left: 0px;">
<h1> Members </h1>
<h2> Faculty </h2>
  {% for member in site.data.faculty %}
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail" style="min-height:310px;">
        {% if member.picture_url %}
         <img src="{{member.picture_url}}" style="min-height:200px;height:200px;" alt="...">
         {% else %}
         <img src="{{ site.url }}{{ site.baseurl }}/images/Placeholder_person.png" style="min-height:200px;height:200px;"  alt="...">
        {% endif %}
        <div class="caption" align="center">
        {% if member.url %}
          <h3><a href="{{ member.url }}" >{{ member.name }}</a></h3>
          <!-- class="btn btn-primary"-->
          {% else %}
          <h3>{{ member.name }}</h3>
          {% endif %}       </div>
      </div>
    </div>
{% endfor %}
</div>
{% if site.data.postdoc %}
<div class="row" id="postdoc" style="padding-top: 25px;margin-left: 0px;" >
<h2>Postdoctoral Fellow</h2>
  {% for member in site.data.postdoc %}
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail" style="min-height:320px;">
        {% if member.picture_url %}
         <img src="{{member.picture_url}}" style="min-height:200px;height:200px;" alt="...">
         {% else %}
         <img src="{{ site.url }}{{ site.baseurl }}/images/Placeholder_person.png" style="min-height:200px;height:200px;" alt="...">
        {% endif %}
        <div class="caption" align="center">
        {% if member.url %}
          <h3><a href="{{ member.url }}" >{{ member.name }}</a></h3>
          {% else %}
          <h3>{{ member.name }}</h3>
          {% endif %}       </div>
      </div>
    </div>
{% endfor %}
</div>
{% endif %}
<div class="row" id="phd" style="padding-top: 25px;margin-left: 0px;">
<h2>Ph.D. Students</h2>
  {% for member in site.data.phd %}
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail" style="min-height:320px;">
        {% if member.picture_url %}
         <img src="{{member.picture_url}}" style="min-height:200px;height:200px;" alt="...">
         {% else %}
         <img src="{{ site.url }}{{ site.baseurl }}/images/Placeholder_person.png" style="min-height:200px;height:200px;" alt="...">
        {% endif %}
        <div class="caption" align="center">
        {% if member.url %}
          <h3><a href="{{ member.url }}" >{{ member.name }}</a></h3>
          {% else %}
          <h3>{{ member.name }}</h3>
          {% endif %}       </div>
      </div>
    </div>
{% endfor %}
</div>


<div class="row" id="msc" style="padding-top: 25px;margin-left: 0px;">
<h2>Masters Students</h2>
  {% for member in site.data.msc %}
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail" style="min-height:320px;">
        {% if member.picture_url %}
         <img src="{{member.picture_url}}" style="min-height:200px;height:200px;" alt="...">
         {% else %}
         <img src="{{ site.url }}{{ site.baseurl }}/images/Placeholder_person.png" style="min-height:200px;height:200px;" alt="...">
        {% endif %}
        <div class="caption" align="center" >
        {% if member.url %}
          <h3><a href="{{ member.url }}" >{{ member.name }}</a></h3>
          {% else %}
          <h3>{{ member.name }}</h3>
          {% endif %}
        </div>
      </div>
    </div>
{% endfor %}
</div>


<h2>Undergraduate Students</h2>
<div class="row" id="undergraduate" style="padding-top: 25px;margin-left: 0px;">
 <ul>
  {% for member in site.data.undergraduate %}
  <li>
      {% if member.url %} <a href= {{member.url}} > {{member.name}}  </a>
    {% else %}
    {{member.name}} 
      {% endif %}
    </li>
{% endfor %}
</ul>
</div>

<h1 id='adjunct' style="padding-top: 25px;margin-left: 0px;"> Adjunct Members </h1>
<ul>
{% for member in site.data.adjunct_members %}

{% if member.group == 'others' %}
        <li>
        {% if member.url %} <a href= {{member.url}} > {{member.name}}  </a>
    {% else %}
    {{member.name}} 
      {% endif %}
         </li> 
{% endif %}

{% endfor %}
</ul>
 
<h2>SFU Linguistics</h2>
<ul>
{% for member in site.data.adjunct_members %}

{% if member.group == 'SFU-Linguistics' %}
        <li>
        {% if member.url %} <a href= {{member.url}} > {{member.name}}  </a>
    {% else %}
    {{member.name}} 
      {% endif %}
         </li> 
{% endif %}

{% endfor %}
</ul>

<h1 id='alumni' style="padding-top: 25px;margin-left: 0px;"> Lab Alumnae and Alumni </h1>
<h2>Postdoctoral Fellow</h2>
<div class="row">
  <ul>
  {% for member in site.data.postdoc_alumn %}
    <li>
      {% if member.url %} <a href= {{member.url}} > {{member.name}}  </a>
    {% else %}
    {{member.name}} 
      {% endif %}

      {% if member.position %} -- {{member.position}}
        {% elsif member.location %} -- now
      {% endif %}
    {% if member.location %} at {{member.location}} {% endif %}
    </li>
{% endfor %}
</ul>
</div>
<h2>PHD</h2>
<div class="row">
  <ul>
  {% for member in site.data.phd_alumn %}
    <li>
      {% if member.url %} <a href= {{member.url}} > {{member.name}}  </a>
    {% else %}
    {{member.name}} 
      {% endif %}

      {% if member.position %} -- {{member.position}}
        {% elsif member.location %} -- now
      {% endif %}
    {% if member.location %} at {{member.location}} {% endif %}
    </li>
{% endfor %}
</ul>
</div>

<h2>M.Sc.</h2>
<div class="row">
  <ul>
  {% for member in site.data.master_alumn %}
    <li>
      {% if member.url %} <a href= {{member.url}} > {{member.name}}  </a>
    {% else %}
    {{member.name}} 
      {% endif %}

      {% if member.position %} -- {{member.position}}
      {% elsif member.location %} -- now
      {% endif %}
    {% if member.location %} at {{member.location}} {% endif %}
    </li>
{% endfor %}
</ul>
</div>
<h2>Undergraduate Students</h2>
<div class="row">
  <ul>
  {% for member in site.data.undergraduate-alumn%}
    <li> 
    {% if member.url %} <a href= {{member.url}} > {{member.name}}  </a>
    {% else %}
    {{member.name}} 
      {% endif %}
      {% if member.university %} ({{member.university}}) {% endif %}
    {% if member.information %} -- {{member.information}} {% endif %}

    </li>
{% endfor %}
</ul>
</div>
